body, html {
  margin: 0;
  height: 100vh;
  background: #5c5c5c;
  color: lightgray;
  font-family: 'Commissioner', sans-serif;
  font-weight: 300;
}

section {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}

.content {
  display: grid;
  grid-template-columns: 70% auto;
}

.left {
  position: relative;
  text-align: center;
  display: grid;
  place-items: center;
}

.yellow {
  width: 50%;
  opacity: 0;
}

.recieve {
  background: #fff;
}

.sent {
  background: #e1ffc7;
}

.m1 {
  position: absolute;
  margin-bottom: 50%;
  right: 20%;
  color: black;
  padding: 1em;
  border-radius: 5px;
  width: 20vw;
  text-align: left;
}

.m2 {
  position: absolute;
  margin-bottom: 37%;
  right: 17%;
  color: black;
  padding: 1em;
  border-radius: 5px;
  width: 20vw;
  text-align: left;
}

.m3{
  position: absolute;
  margin-bottom: 24%;
  right: 20%;
  color: black;
  padding: 1em;
  border-radius: 5px;
  width: 20vw;
  text-align: left;
}

.m4 {
  position: absolute;
  margin-bottom: 11%;
  right: 17%;
  color: black;
  padding: 1em;
  border-radius: 5px;
  width: 20vw;
  text-align: left;
}

.wave {
  position: absolute;
  background: #c19869;
  margin-top: 30%;
  left: 10%;
  width: 330px;
  height: 500px;
  z-index: -1;
}

.right {
  display: grid;
  place-items: center;
}

.right h2 {
  color: white;
  font-size: 2em;
  font-weight: lighter;
}

.righ p {
  line-height: 1.6em;
}

.anim {
  opacity: 0;
}

@keyframes anim1 {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}